.video_card_col
    {
        margin-top: 2px;
        margin-bottom: 20px;

        .card{
            .card_link{
                    text-decoration: none;
                .image_styles{
                    border-bottom: 2px solid black;
                }
                .video_name{
                    text-align: center;
                    color: black;
                    text-transform: capitalize;
                }
            }
        }
    }